a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.bg-blue {
    background-color: #191049 !important;
}

.bg-outline-blue {
    border-color: #191049 !important;
}

.bg-cyan {
    background-color: #6ce5df !important;
}

.bg-outline-cyan {
    border-color: #6ce5df !important;
}

.bg-blue {
    background-color: #191049 !important;
}
