*,
*::after,
*::before {
    font-family: "Inter", sans-serif !important;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.text-green {
    color: #2ee58d;
}

.text-blue {
    color: #191049 !important;
}

.text-cyan {
    color: #6ce5df !important;
}

.bg-blue {
    background-color: #191049 !important;
}

.bg-outline-blue {
    border-color: #191049 !important;
}

.bg-cyan {
    background-color: #6ce5df !important;
}

.bg-outline-cyan {
    border-color: #6ce5df !important;
}

.bg-green {
    background-color: #2ee58d !important;
}

.bg-outline-green {
    border-color: #2ee58d;
}

@media (min-width: 1400px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1230px !important;
    }
}
